---
layout: default
title: About
---
<blockquote>
	<p class="default">
		<span>You will thank yourself</span><br>
		At least, I'll thank you
	</p>
</blockquote>

<h2>Hot stuff ahead</h2>

<p class="default">
	I'm logging my <strong>cat's thoughts</strong>!<br>
	I know how it sounds, allow me to explain.
</p>

<p class="default">
	My name's Freya Copson and I'm a young developer.<br>
	I share a flat with my fat cat <strong><span class="tac">Tac</span></strong>.
</p>

<p class="default">
	Put simply, somewhen around november 2018 I hacked my <strong><span class="ping">Ping</span></strong>, a penguin-shaped, <strong>domestic robot</strong>, produced by the company I work for. Now it can detect Tac's thoughts as raw data and translate it to English.
</p class="default">

<p class="default">But the really cool part is that Ping can immediately <strong>understand</strong> Tac and vice versa.</p>

<p class="default">
	So, of course, I program specific questions I want Ping to ask Tac while I'm gone. I'd love to <strong>live chat</strong> with my cat but, for <strong>technical reasons</strong>, Ping's detection capabilities suck when I'm around, and the translation process can take up to a couple of days.
</p>

<p class="default">
	Anyway, I was so impressed by the depth of my <strong>cat's mind</strong> that I decided to share it with the wide world.
</p>

<p class="default">
	For the sake of clarity and aesthetics, I edited the logs of their conversations in a <strong>dialogic</strong> form, posted a few of my favourites, and called it a season.
</p>

<p class="default"><strong>Tac&Ping Season 1</strong> was live!</p>

<p class="default">Expect a <strong>Season 2</strong> soon, those two are really getting along.</p>

<p class="default"><span class="about-wish">May their minds blow up yours</span>:</p>

{% for post in site.posts %}
	{% if post.log == "101" %}
		{{ post.excerpt }}
	{% endif %}
{% endfor %}
