/*  GENERAL  */

html {
	font-family: 'Gaegu', cursive;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 24px;
}

body {
	background: #202020; /*black*/
	color: #d4d4d4;			 /*text grey*/
	display: block;
}

h1 {
	font-family: 'Barrio', cursive;
	font-size: 3rem;
	line-height: 1.15em;
	margin: 1rem 0 3rem 0;
	text-align: center;
}

h2 {
	color: #fff; 		     /*white*/
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: -.025em;
	line-height: 1.15em;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

h3 {
	line-height: 1.15em;
	letter-spacing: -.025em;
}

p {
	color: #ffde00; 		 /*yellow*/
	line-height: 1.15em;
	letter-spacing: -.025em;
	margin-top: 1rem;
}

li {
	line-height: 1.15em;
	letter-spacing: -.025em;
}

b, strong {
	color: #fff; 		     /*white*/
}

/*  LINKS  */

a {
	color: #b9e04c;      /*green*/
	line-height: 1.15em;
	letter-spacing: -.025em;
	text-decoration: none;
}

a:hover, a:active {
	color: #6f6f6f; 		 /*layout grey*/
}

/*	LAYOUT  */

.main-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: auto;
	max-width: 496px;
	padding: 0 .5rem;
}

.page-header {
/*  background-image: url(/assets/images/tac_ping.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 120px;*/
	margin-bottom: 4.5rem;
}

.page-content {
	flex-grow: 1;
}

.page-footer {
	margin-top: 4.5em;
}

.page-footer .main-navigation {
	border-top: none;
	border-bottom: 1px solid #6f6f6f; /*layout grey*/
}

.page-footer .copyright {
	font-size: .8em;
	line-height: 1.25;
	font-family: 'Barrio', cursive;
	vertical-align: bottom;
}

.page-footer .logo {
	margin: 3rem 0 1rem 0;
}

.page-footer .logo a {
	color: #6f6f6f;			 /*layout grey*/
}

.page-footer .logo a:hover,
.page-foorer .logo a:active {
	color: #b9e04c;      /*green*/
}

/*  TEXT  */

.default {
	color: #d4d4d4;			 /*text grey*/
}

.tac {
	color: #ffde00; 		 /*yellow*/
}

.ping {
	color: #5eddeb; 		 /*azure*/
}

/*  NAVIGATION  */

.main-navigation {
	border-top: 1px solid #6f6f6f; /*layout grey*/
	text-align: center;
}

.main-navigation a,
.main-navigation li {
	font-size: .8rem;
	color: #6f6f6f;			 /*layout grey*/
}

.main-navigation a:hover,
.main-navigation a:active {
	color: #b9e04c;      /*green*/
}

.page-header-navigation > li {
	display: inline-block;
	margin: 0 .5em;
}

#current-page {
	color: #b9e04c;      /*green*/
	font-weight: 700;
}

/*  BLOCKQUOTE  */

blockquote {
	margin-bottom: 4.5rem;
}

blockquote p {
	margin: 0;
}

blockquote span, .about-wish {
	color: #fff;			   /*white*/
	font-weight: 700;
	text-transform: uppercase;
}

/*  LOGS  */

.logs-list {
  list-style: none;
}

/*  LOG HEADER  */

.log-number {
	color: #6f6f6f;      /*layout grey*/
	display: inline-block;
}

.log-title {
	display: inline-block;
	font-weight: 700;
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
	html p, html h3 {
		font-size: 26px;
	}
}

@media screen and (min-width: 1366px) {
	html p, html h3 {
		font-size: 28px;
	}
}
