/*GENERIC*/
body {
	background: #202020; /*black*/
	color: #d4d4d4; /*text grey*/
	font-family: 'Inconsolata', monospace;
	margin: 0 1em;
}
h1, p {
	font-family: 'Delius', cursive;
}
h1 {
	color: #b9e04c; /*green*/
	font-size: 2em;
	margin-bottom: 1em;
	text-transform: uppercase;
}
h2 {
	text-transform: uppercase;
}
p {
	font-size: 1.3em;
	line-height: 1.5;
	margin-bottom: 1em;
}
strong {
	font-weight: normal;
	color: #b9e04c; /*green*/
}

/*LINKS*/
.page-content a {
	color: #fcfcfc; /*white*/
}
a {
	color: #b7b7b7; /*dim grey*/
	text-decoration: none;
}
a:hover, a:active {
	color: #b9e04c; /*green*/
}
.current-page {
	color: #b9e04c; /*green*/
	font-weight: 700;
}

/*LAYOUT*/
.main-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	max-width: 528px;
	min-width: 325px;
}
.page-header {
/*  background-image: url(/assets/images/tac_ping.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 120px;*/
	margin-bottom: 7.5em;
}
.page-content {
	flex-grow: 1;
}
.page-footer {
	margin-top: 7.5em;
}

/*LOGO*/
.logo {
	border-bottom: 1px solid #6f6f6f; /*layout grey*/
	color: #fcfcfc; /*white*/
	font-family: 'Barrio', cursive;
	font-size: 3em;
	margin-bottom: .5rem;
	padding: 1em 0;
	text-align: center;
	text-transform: none;
}
.page-footer .logo {
	border-bottom: none;
	border-top: 1px solid #6f6f6f; /*layout grey*/
	color: #6f6f6f; /*layout grey*/
	margin: 0;
}
.tac {
	color: #ffde00; /*yellow*/
}
.ping {
	color: #5eddeb; /*azure*/
}

/*NAVIGATION*/
.navigation-links {
	text-align: center;
}
.navigation-links > li {
	display: inline-block;
}
.navigation-links li > a {
	padding: .5em;
}

/*ARCHIVE*/
.logs-list {
  list-style: none;
}
.log-excerpt ~ .log-excerpt {
  margin-top: -1.8rem;
}

/*LOG HEADER*/
.log-header {
	border-bottom: 1px solid #6f6f6f; /*layout grey*/
	box-sizing: border-box;
	margin-bottom: 1.8rem;
	padding: 0 .5em;
}
.log-number {
	border-right: 1px solid #6f6f6f; /*layout grey*/
	box-sizing: border-box;
	display: inline-block;
	padding: .5rem .5rem .5rem 0;
}
.log-title {
	box-sizing: border-box;
	display: inline-block;
	padding: .5rem 0 .5rem .5rem;
}
